<style>
  .btn-search{
    background-color: rgba(255, 51, 0, 0.893);
    color: aliceblue;
    display: flex;
    align-items: center;
    border-radius: 1.3rem;
  }
  .btn-search:hover{
    background-color: rgba(255, 51, 0, 0.893);
    color: aliceblue;
    box-shadow: 0 0 2px black;
  }
  .btn-search i {
    margin: 0 0.5rem 0 0;
  }
  .btn-input{
    border-radius: 1.3rem;
    padding: 0 1rem 0 1rem;
    width: 250px;
  }
  .users-options{
    display: flex;
  }
  @media screen and (max-width: 991px) and (min-width: 0px) {
    .users-options{
      display:flex;
      /* justify-content: center; */
    }
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
      <!-- <h4 class="navbar-brand company_name">Ours Company</h4> -->

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a href="/listings" class="nav-link "><div class="company_name">Ours Company</div></a>
          
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/listings">Home</a>&nbsp;&nbsp;&nbsp;
          <!-- <a class="nav-link" href="/listings">All Listings</a> -->
          <a class="nav-link" href="/listings/new">Add Listings</a>
        </div>
        <!-- //Search bar -->
        <div class="navbar-nav ms-auto">
          
        </div>
        <div class="navbar-nav ms-auto">
          <form class="d-flex">
            <input class="form-control me-2 btn-input" type="search" placeholder="Search Your Destinations" aria-label="Search">
            <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <div class="users-options">
            <% if(!currentUser){ %>
              <a class="nav-link signup" aria-current="page" href="/signup" ><b>Sign Up</b></a>
              <a class="nav-link login" href="/login"><b>Login</b></a>
              <% } %>
              
            <% if(currentUser){ %>
              <a class="nav-link login" href="/logout"><b>Log out</b></a>
               <!-- <div class="logout-navigation">
                <a href="" class="logoutButton">
                  <img  src="https://pbs.twimg.com/profile_images/378800000639740507/fc0aaad744734cd1dbc8aeb3d51f8729_400x400.jpeg" >
                  <div class="logout">Log Out</div>
                 </a>
               </div> -->
              <% } %>
  
          </div> <br>

          
          
        </div>

      </div>
    </div>
  </nav>