<% layout("/layouts/boilerplate") %>
<body>  
    <div class="row">
        <div class="col-7 offset-2">
            <br><br>    
            <h3>Create new Listing :</h3>
            <br>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data" >
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input class="form-control" type="text" placeholder="Enter Title" name="listing[title]" required>
            <div class="valid-feedback">Nice Title</div>
            <div class="invalid-feedback">Please enter a valid Title</div>
        </div>
        <br>
        <div >
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" type="text" placeholder="Enter Description" cols="100" rows="3" name="listing[description]" required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <br>
        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input class="form-control" type="text" placeholder="Enter Image url" name="listing[image]">
            <div class="invalid-feedback">You should add a image otherwise a default image will be added</div>
        </div>
        <br> -->

        <div class="mb-3">
            <label for="image" class="form-label">Add Image</label>
            <input class="form-control" type="file" name="listing[image]" required>
            <!-- <div class="invalid-feedback">You should add a image otherwise a default image will be added</div> -->
        </div>
        <br>

        <div class="row ">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input class="form-control" type="text" placeholder="Enter Price" name="listing[price]" required>
                <div class="invalid-feedback">Please enter a valid Price</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input class="form-control" type="text" placeholder="Enter Country" name="listing[country]" required>
                <div class="invalid-feedback">Please enter your Country</div>
            </div>
            <br>
        </div>
        <br>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input class="form-control" type="text" placeholder="Enter Location" name="listing[location]" required>
            <div class="invalid-feedback">Please enter a proper Location</div>
        </div>
        <br>
        
        <button class="btn btn-dark add-btn">Add</button>
        <br><br><br>
    </form>
        </div>
    </div>
</body>
