<% layout("/layouts/boilerplate") %>
<div class="row mb-3">
    <h1 class="col-6 offset-3">Log In</h1>
    <div class="col-6 offset-3 mt-4">
        
        <form action="/login" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input class="form-control"  placeholder="Enter Username" name="username" required>
                <div class="valid-feedback">Looks Good</div>
                <div class="invalid-feedback">Please enter a valid username </div>
            </div>
            <br>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control"  placeholder="Enter Password" name="password" required>
                <!-- <div class="valid-feedback">Looks Good</div> -->
                <div class="invalid-feedback">Please enter a valid Password </div>
            </div>
            <br>
            <button class="btn btn-success add-btn">Log In</button>
        </form>
    </div>
</div>